.settings {
  padding: 10px 0;
  // .settings__container
  &__container {
  }
  // .settings__list
  &__list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  // .settings__item
  &__item {
    flex: 1 0 48%;
  }
}
//<BLOCK>====================================================================================================
.table {
  font-size: 18px;
  // .table__container
  &__container {
  }
  // .table__list
  &__list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  // .table__item
  &__item {
    padding: 5px 15px;
    border: 1px solid #ccc;
  }
  // .table__title
  &__title {
    padding: 5px 0;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }
  // .table__col
  &__col {
  }
}
.col-table {
  display: flex;
  flex-direction: column;
  gap: 5px;
  :not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
  // .col-table__row
  &__row {
  }
}
//<BLOCK>====================================================================================================
.training {
}

.main-content {
  position: relative;
  section {
    opacity: 0;
    visibility: hidden;

    &._active {
      opacity: 1;
      visibility: visible;
    }
  }
  .table {
    position: absolute;
  }
  .training {
  }
}

//<BLOCK>====================================================================================================
.training {
  // .training__container
  &__container {
  }
  &__label {
    font-size: 32px;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
  }
  // .training__item
  &__question {
  }
  &__answer {
  }
}

.question-training {
  display: flex;
  justify-content: center;
  // gap: 5px;
  // margin-bottom: 20px;
  cursor: default;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  // .item-training__item
  &__item {
    font-size: 24px;
    // padding: 10px;
    height: 50px;
    border: 1px solid #000;
    flex: 0 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  // .item-training__num1
  &__num1 {
  }
  // .item-training__sign
  &__sign {
  }
  // .item-training__num2
  &__num2 {
  }
  // .item-training__equals
  &__equals {
  }
  // .item-training__answer
  &__answer {
  }
}
.answer-training {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  &__item {
    font-size: 24px;
    height: 50px;
    border: 1px solid #000;
    flex: 0 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    &:hover {
      background-color: #006f6f;
    }
  }
}
//<BLOCK>====================================================================================================
