$colorGrey: #333;
._container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0 10px;
}
.btn {
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  text-align: center;
  border: 1px solid $colorGrey;
  &:hover {
    background-color: teal;
    color: #fff;
  }
  &:disabled {
    background-color: tomato;
  }
  &._active {
    background-color: #7a956d;
    color: #fff;
  }
}
.page-title {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #333;
  padding: 20px 0;
  border-bottom: 1px solid #000;
}

.visible {
  // background-color: #ccc;
}

.hidden {
  // background-color: #006f6f;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently not supported by any browser */
}

.wrong-answer {
  box-shadow: 0 0 5px red;
  border: 1px solid red !important;
}

.right-answer {
  box-shadow: 0 0 5px green;
  border: 1px solid green !important;
}
